<link rel="stylesheet" href="/styles/error.css">
<div class="container-fluid">

    <div class="d-flex fs-2">
        <div class="my-auto">Department List</div>
    </div>

    <input type="hidden" id="csrf" value="{{_csrf}}">
    {{#if error}}
    <p>Error: {{error}}</p>
    {{/if}}
    <button id="addModalButton" type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">
        Add Department
    </button>

    <div class="table-responsive glassEffect my-4">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th>Department Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each departmentList}}
                <tr>
                    <td>{{departmentName}}</td>
                    <td>
                        <!-- Edit button to open the Bootstrap modal -->
                        <button id="editModalButton{{_id}}" type="button" class="btn btn-warning"
                            onclick="openEditModal('{{_id}}', '{{departmentName}}')">Edit</button>

                        <!-- Delete button with a form to submit the delete request -->
                        <form method="POST" action="/configuration/departments/delete/{{_id}}" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>


    <!-- Add button to open the Bootstrap modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content glassEffect">
                <div class="modal-header glassEffect">
                    <h5 class="modal-title" id="addModalLabel">Add Department</h5>
                    <button type="button" class="btn-close btn-info" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add department form -->
                    <form id="addDepartmentForm" method="POST" action="/configuration/departments/register">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="addDepartmentName" name="departmentName"
                                placeholder="" required>
                            <label for="addDepartmentName">Department Name:</label>
                        </div>

                        <button type="submit" class="btn btn-info my-4" onclick="submitForm(event)">Add
                            Department</button>
                    </form>
                    <div id="addFormError" style="color: red;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content glassEffect">
                <div class="modal-header glassEffect">
                    <h5 class="modal-title" id="editModalLabel">Edit Department</h5>
                    <button type="button" class="btn-close btn-info" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add department form -->
                    <form id="editDepartmentForm" method="POST" action="/configuration/departments/register">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="editDepartmentId" name="departmentId" required
                                hidden>
                            <label for="editDepartmentId">Department Name:</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="editDepartmentName" name="departmentName"
                                placeholder="" required>
                            <label for="editDepartmentName">Department Name:</label>
                        </div>
                        <button type="submit" class="btn btn-info my-4" onclick="submitEditForm(event)">Edit
                            Department</button>
                    </form>
                    <div id="editFormError" style="color: red;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>