<link rel="stylesheet" href="/styles/error.css">
<div class="container-fluid">
    <input type="hidden" id="csrf" value="{{_csrf}}">
    {{#each courses}}
    <input type="text" class="form-control" id="courseId" name="courseId" hidden value="{{this.courseId}}">


    <div class="d-flex">
        <div class="my-auto">{{this.courseNumber}} : {{this.courseName}}</div>
        <div class="mx-4 my-auto text-muted fs-5">
            {{this.courseDepartmentId.name}}
        </div>
        {{#if (eq ../session_type 'Admin')}}
        <button class="btn btn-warning edit-btn" onclick="editCourse('{{this.courseId}}')">Edit Course</button>
        {{/if}}
    </div>

    <div class="my-3"><strong>Credits:</strong> {{this.courseCredits}}</div>

    <div class="my-3">{{this.courseDescription}}</div>


    {{#if (eq ../session_type 'Admin')}}
    <div class="my-4">
        <button type="button" class="btn btn-info" onclick="openAddSectionModal()">Add
            Section</button>
    </div>
    {{/if}}


    <div class="table-responsive glassEffect">
        <table class="table table-striped h-100 mb-0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Instructor</th>
                    <th>Type</th>
                    <th>Time</th>
                    <th>Day</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Capacity</th>
                    <th>Enrollments</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.sections}}
                <tr style="{{#if this.isEnrolled}}background-color: #abcdef;{{/if}}">
                    <td>{{this.sectionName}}</td>
                    <td>{{this.sectionInstructor.name}}</td>
                    <td>{{this.sectionType}}</td>
                    <td>{{this.sectionStartTime}} - {{this.sectionEndTime}}</td>
                    <td>{{this.sectionDay}}</td>
                    <td>{{this.sectionLocation}}</td>
                    <td>{{this.sectionDescription}}</td>
                    <td>{{this.sectionCapacity}}</td>
                    <td>{{this.students.length}}</td>
                    <td>
                        {{#if (eq ../../session_type 'Admin')}}

                        <button class="btn btn-warning edit-btn"
                            onclick="editSection('{{this.sectionId}}')">Edit</button>
                        <button class="btn btn-danger delete-btn"
                            onclick="deleteSection('{{this.sectionId}}')">Delete</button>

                        {{/if}}

                        {{#if (eq ../../session_type 'Student')}}

                        {{#if this.isEnrolled}}


                        <button class="btn btn-danger" onclick="discardSection('{{this.sectionId}}')">Discard</button>

                        {{else}}
                        {{#if (gt this.sectionCapacity this.students.length)}}
                        <button class="btn btn-info" onclick="enrollSection('{{this.sectionId}}')">Enroll</button>

                        {{else}}
                        Capacity Full
                        {{/if}}
                        {{/if}}
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div id="tableError" style="color: red;"></div>
    {{/each}}
    {{#if (eq session_type 'Admin')}}
    <div class="modal fade" id="addSectionModal" tabindex="-1" role="dialog" aria-labelledby="addSectionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content glassEffect">
                <div class="modal-header glassEffect">
                    <h5 class="modal-title fs-5" id="addSectionModalLabel">Add Section</h5>
                    <button type="button" class="btn-close btn-info" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addSectionForm">
                        <div class="form-floating my-4" hidden>
                            <input type="text" class="form-control" id="sectionId" name="sectionId" required
                                value="{{sectionId}}" placeholder="">
                            <label for="sectionId">Section ID:</label>
                        </div>

                        <div class="form-floating my-4">
                            <input type="text" class="form-control" id="sectionName" name="sectionName" placeholder=""
                                required>
                            <label for="sectionName">Section Name:</label>
                        </div>

                        <div class="my-4">
                            <label for="sectionInstructor">Section Instructor:</label>
                            <select id="sectionInstructor" name="sectionInstructor" class="selectpicker form-control"
                                data-live-search="true">
                                {{#each instructors}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="my-4">
                            <label for="sectionType">Section Type:</label>
                            <select id="sectionType" name="sectionType" class="selectpicker form-control"
                                data-live-search="true">
                                <option value="In Person">In Person</option>
                                <option value="Online">Online</option>
                            </select>
                        </div>

                        <div class="my-4">
                            <label for="sectionStartTime">Section Start Time:</label>
                            <input type="time" class="form-control" id="sectionStartTime" name="sectionStartTime"
                                required>
                        </div>

                        <div class="my-4">
                            <label for="sectionEndTime">Section End Time:</label>
                            <input type="time" class="form-control" id="sectionEndTime" name="sectionEndTime"
                                 required>
                        </div>

                        <div class="my-4">
                            <label for="sectionDay">Section Day:</label>
                            <select id="sectionDay" class="selectpicker form-control" data-live-search="true">
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                            </select>
                        </div>

                        <div class="form-floating my-4">
                            <input type="number" class="form-control" id="sectionCapacity" name="sectionCapacity"
                                min="10" max="100" placeholder="" required>
                            <label for="sectionCapacity">Section Capacity:</label>
                        </div>

                        <div class="form-floating my-4">
                            <input type="text" class="form-control" id="sectionLocation" name="sectionLocation"
                                placeholder="" required>
                            <label for="sectionLocation">Section Location:</label>
                        </div>

                        <div class="my-4">
                            <label for="sectionDescription">Section Description:</label>
                            <textarea class="form-control" id="sectionDescription" name="sectionDescription" rows="3"
                                placeholder="" required></textarea>
                        </div>
                        <input type="hidden" id="editMode" name="editMode" value="false">
                        <div id="error" style="color: red;"></div>
                        <button type="submit" class="btn btn-info" onclick="sectionSubmit(event)">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>