
<link rel="stylesheet" href="/styles/courses.css">
     <h1>Course Listing</h1>
<div class="course-listing">

    
    <div class="filter">
        <label for="filter-input">Filter:</label>
        <input type="text" id="filter-input" placeholder="Enter course name">
        <br>
        <label for="department-filter">Department:</label>
        <select id="department-filter">
            <option value="">All</option>
            {{#each departments}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <br>
            <label for="level-filter">Level:</label>
        <select id="level-filter">
            <option value="">All</option>
            <option value="1XX">1XX</option>
            <option value="2XX">2XX</option>
            <option value="3XX">3XX</option>
        </select>
            <br>
              <label for="instructor-filter">Instructor:</label>
        <select id="instructor-filter">
            <option value="">All</option>
            {{#each instructors}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <br>
          <label for="delivery-mode-filter">Delivery Mode:</label>
        <select id="delivery-mode-filter">
            <option value="">All</option>
            <option value="In-person">In-person</option>
            <option value="Online">Online</option>
        </select>
        <br>
          <label for="meeting-days-filter">Meeting Days:</label>
        <select id="meeting-days-filter">
            <option value="">All</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
        </select>
        <button id="filter-button">Apply</button>
    </div>
    <div class="courses">
       
        {{#each courses}}
            <div class="course">
                
              
                <div class="details">
                  <h2><a href="/courses/{{this.course_id}}?semester={{this.semester}}">{{this.course_id}} : {{this.name}}</a></h2>
                              
                <p>Department: {{this.department}}</p>
                <p>Level: {{this.level}}</p>
                <p>Instructor: {{this.instructor}}</p>
                <p>Delivery Mode: {{this.delivery_mode}}</p>
                <p>Status: {{this.Status}}</p>
                </div>
             
              
           
                {{!-- <p>Prerequisites: {{this.prerequisites}}</p>
                <p>Corequisites: {{this.corequisites}}</p>
                <p>Restrictions: {{this.restrictions}}</p>
                <p>Notes: {{this.notes}}</p> --}}
             <div class="actions">
                    <a href="/courses/{{this.course_id}}">View</a>
             </div>
            </div>
              

        {{/each}}
    </div>
    
</div>  