<link rel="stylesheet" href="/styles/courses.css">
<h1>Course Listing</h1>
<div class="course-listing">


    <div class="filter">
        <label for="filter-input">Filter:</label>
        <input type="text" id="filter-input" placeholder="Enter course name">
        <br>
        <label for="department-filter">Department:</label>
        <select id="department-filter">
            <option value="">All</option>
            {{#each courses.uniqueDepartmentNames}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <br>


        <label for="instructor-filter">Instructor:</label>
        <select id="instructor-filter">
            <option value="">All</option>
            {{#each courses.uniqueInstructors}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <br>
        <label for="delivery-mode-filter">Delivery Mode:</label>
        <select id="delivery-mode-filter">
            <option value="">All</option>
            {{#each courses.uniqueSectionTypes}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <br>
        <label for="meeting-days-filter">Meeting Days:</label>
        <select id="meeting-days-filter">
            <option value="">All</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
        </select>
        <button id="filter-button">Apply</button>
    </div>
    <div class="courses">
        
        {{#each courses}}
        <div class="course">
            <div class="details">
                <h2 class="courseRedirect" data-id="{{this._id}}">{{this.courseNumber}} -
                        {{this.courseName}}</a></h2>
                <p>{{this.courseDescription}}</p>
                <p>Department: {{this.departmentName}}</p>
                
                <p>Credits: {{this.courseCredits}}</p>
                {{!-- <p>Delivery Mode: {{this.delivery_mode}}</p>
                <p>Status: {{this.Status}}</p> --}}
            </div>
            <div class="actions">
                <a class="courseRedirect" data-id="{{this._id}}">View</a>
            </div>
        </div>
        {{/each}}

        
    </div>
</div>