<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        // Access the darkmode variable from res.locals
        var _isDarkMode = {{ darkmode }};
    </script>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-select.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/sidebar.css">
    <script src="/scripts/jquery.min.js"></script>

    <script src="/scripts/styles.js"></script>
    <!-- JS Imports -->
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/bootstrap-select.min.js"></script>

    <title>University Management System</title>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        {{#if session_type}}
        <nav id="sidebar" class="glassEffect d-flex flex-column">
            <div>
                <div class="fs-5 headSidebar mt-4 glassEffect">UMS</div>
                <ul class="list-unstyled components">
                    <li class="py-1">
                        <a class="hover" href="/dashboard"><span class="animateHover"></span><span>Dashboard</span></a>
                    </li>
                    {{#ifUserType 'Admin,Student' session_type}}
                    <li class="py-1">
                        <a class="hover" href="/courses"><span class="animateHover"></span><span>Course</span></a>
                    </li>
                    {{/ifUserType}}
                </ul>
            </div>

            {{#if sectionID}}
            <div>
                <div class="fs-5 headSidebar glassEffect">Section</div>
                <ul class="list-unstyled components">
                    <li class="py-1">
                        <a class="hover" href="/sections/{{sectionID}}"><span
                                class="animateHover"></span><span>Home</span></a>
                    </li>
                    <li class="py-1">
                        <a class="hover" href="/sections/{{sectionID}}/modules"><span
                                class="animateHover"></span><span>Modules</span></a>
                    </li>
                    <li class="py-1">
                        <a class="hover" href="/sections/{{sectionID}}/assignments/"><span
                                class="animateHover"></span><span>Assignments</span></a>
                    </li>
                    <li class="py-1">
                        <a class="hover" href="/sections/{{sectionID}}/grades/"><span
                                class="animateHover"></span><span>Grades</span></a>
                    </li>

                    {{#if courseId}}
                    <li class="py-1">
                        <a class="hover" href="/courses/{{courseId}}/materials/"><span
                                class="animateHover"></span><span>Course Repository</span>
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>

            {{/if}}
           
            <div class="mt-auto">
                <div class="fs-5 headSidebar glassEffect">{{session_type}}</div>
                <ul class="list-unstyled components2 mt-auto">

                    <li class="py-1">
                        <a href="#"><span class="animateHover"></span><span><img class="iconSwitch"
                                    src="/icons/user-circle.svg" alt="user-circle-icon">{{session_name}}</span></a>
                    </li>
                    <li class="py-1">
                        <a href="#"><span class="animateHover"></span><span>{{session_email}}</span></a>
                    </li>
                    <li class="py-1 mx-auto">
                        <a href="#">
                            <div id="switch" class="m-4">
                                <div id="circle"></div>
                            </div>
                        </a>
                    </li>
                    <li class="py-1">
                        <a class="hover" href="/logout"><span class="animateHover"></span><span>Logout</span></a>
                    </li>
                </ul>
            </div>

        </nav>
        {{/if}}

        {{!-- <li class="nav-item hamIcon me-4">
            <div id="sidebarCollapse" class="border-0 p-0 m-0">
                <div class="hamburger p-1" id="hamburger-4">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </li> --}}


        <!-- Page Content  -->
        <div id="content" class="mt-4">
            {{{body}}}
        </div>
    </div>
    <div class="toast-container position-absolute top-0 end-0 p-5">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
            data-bs-autohide="false">
            <div class="toast-header">
                <img src="/icons/error.svg" alt="errorIcon">
                <strong class="me-auto ms-2" id="toastHeadMsg">Bootstrap</strong>
                <small>Just Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
        });
    </script>
    <script src="/scripts/verification.js"></script>
    <script src="/scripts/request.js"></script>
    {{#if script}}
    {{> (lookup . 'script') }}
    {{/if}}
</body>

</html>