<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/sidebar.css" />
    <script src="/scripts/jquery.min.js"></script>
    <title>University Management System</title>
</head>

<body>

    <div class="navigation-wrap bg-light start-header">
        <div class="row">
            <header class="col-12">
                <ul id="navigationList" class="nav d-flex mx-5">
                    <li class="nav-item hamIcon me-4">
                        <button type="button" id="sidebarCollapse" class="border-0 p-0 m-0">
                            <div class="hamburger p-1" id="hamburger-4">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <span class="fs-5 position-relative" id="homeText">Home</span>
                        </a>
                    </li>

                    {{#if name}}
                    <li class="nav-item ms-auto dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            data-bs-auto-close="outside" aria-expanded="false"><img src="/icons/user-circle.svg"
                                alt="user-circle-icon" /></a>
                        <ul class="dropdown-menu p-0" id="navProfileDropdown">
                            <li>
                                <div class="container p-0">
                                    <div class="m-2 px-2">
                                        {{name}} <span class="text-muted fs-6"> {{type}} </span>
                                    </div>
                                    <div class="m-2 px-2">
                                        {{email}}
                                    </div>
                                    <div id="switch" class="m-4">
                                        <div id="circle"></div>
                                    </div>
                                    <div class="my-auto d-flex justify-content-center btnNavbar">
                                        <a class="w-100" href="/logout"><button
                                                class="mb-0 py-2 w-100 btnNavbar">Logout</button></a>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </li>
                    {{/if}}
                </ul>
            </header>
        </div>
    </div>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>{{sideBarTitle}}</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active py-1">
                    <a href="/workspace/{{sectionID}}">Home</a>
                </li>
                <li class="py-1">
                    <a href="/workspace/{{sectionID}}/modules">Modules</a>
                </li>
                <li class="py-1">
                    <a href="/workspace/{{sectionID}}/assignments">Assignments</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            {{{body}}}
        </div>
    </div>
    <div class="toast-container position-absolute top-0 end-0 p-5">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
            data-bs-autohide="false">
            <div class="toast-header">
                <img src="/icons/error.svg" alt="errorIcon">
                <strong class="me-auto" id="toastHeadMsg">Bootstrap</strong>
                <small>Just Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>



    <!-- JS Imports -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/bootstrap-select.min.js"></script>
    <script src="/scripts/styles.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
        });
    </script>
</body>

</html>