<div class="container-fluid">
    <h1>{{courseName}} <span class="text-muted">{{sectionName}}</span></h1>
    <div class="my-4">
        <h2>Description</h2>
        <h4>{{sectionDescription}}</h4>
    </div>
    <div class="my-4">
        <h2>Professor</h2>
        <h4>{{fN}} {{lN}} </h4>
    </div>
    <div class="my-4">
        <h2>Delivery</h2>
        <h3>{{sectionType}}</h3>
    </div>
    <div class="my-4">
        <h2>Timing</h2>
        <h4>{{sectionDay}} | {{sectionStartTime}} - {{sectionEndTime}}</h4>
    </div>
    <div class="my-4">
        <h2>Enrolled</h2>
        <h4>{{studentCount}}/{{sectionCapacity}}</h4>
    </div>
</div>