<h1>Modules</h1>
{{#if (eq userType "Student")}}
        <div class="modules">
        {{#each modules}}
        <div class="module">
            <div class="details">   
                <p>ID: {{this.moduleId}}</p>
                <p>Name: {{this.moduleName}}</p>
                <p>Desc: {{this.moduleDescription}}</p>
                <p>Date: {{this.moduleDate}}</p>
            </div>
                      <a href="/workspace/{{../sectionID}}/modules/{{this.moduleId}}/attendance">Attendance</a></div>
              {{/each}}

    </div>
    {{else if (eq userType "Professor")}}
    <div class="modules">
        {{#each modules}}
        <div class="module">
            <div class="details">
                <p>ID: {{this.moduleId}}</p>
                <p>Name: {{this.moduleName}}</p>
                <p>Desc: {{this.moduleDescription}}</p>
                <p>Date: {{this.moduleDate}}</p>
            </div>
                <a href="/workspace/{{../sectionID}}/modules/{{this.moduleId}}/attendance">Attendance</a>
        </div>
        {{/each}}
                        <button id="addModuleButton">Add new module</button>
<form id="moduleForm" style="display: none;">
    <input type="text" id="moduleName" placeholder="Module Name">
    <input type="text" id="moduleDesc" placeholder="Module Description">
    <input type="date" id="moduleDate">
    <button type="submit">Submit</button>
</form>
    </div>
  
    {{/if}}


<script>
document.getElementById('addModuleButton').addEventListener('click', () => {
    document.getElementById('moduleForm').style.display = 'block';
});

document.getElementById('moduleForm').addEventListener('submit', async (e) => {
    e.preventDefault();

    const moduleName = document.getElementById('moduleName').value;
    const moduleDesc = document.getElementById('moduleDesc').value;
    const moduleDate = document.getElementById('moduleDate').value;
 const pathSegments = window.location.pathname.split('/');
    const sectionId = pathSegments[2];  



    try {
        const response = await fetch(`/workspace/${sectionId}/modules`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                moduleName,
                moduleDescription: moduleDesc,
                moduleDate,
            }),
        });

        if (response.ok) {
            window.location.reload();
        } else {

            console.error('Failed to add module');
        }
    } catch (error) {
        console.error('Error:', error);
    }
});



</script>

