<h1>Hello </h1>

<h2>section id : {{sectionID}}</h2>
<h2>{{courseId}}</h2>
<h1>{{courseName}}</h1>
<h2>{{sectionName}}</h2>
<h2>{{sectionInstructor}} {{fN}} {{lN}} </h2>
<h2>{{sectionType}}</h2>
<h2>{{sectionStartTime}}</h2>
<h2>{{sectionEndTime}}</h2>
<h2>{{sectionDay}}</h2>
<h2>{{sectionCapacity}}</h2>
<h2>{{sectionYear}}</h2>
<h2>{{students}}</h2>
<h2>{{sectionDescription}}</h2>
<h2><a href="/workspace/{{sectionID}}/modules"> Modules</a></h2>
<h2><a href="/workspace/{{sectionID}}/assignments"> Assignments</a></h2>




