<div class="container mt-5">
    <h2>List of Assignments</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Assignment Name</th>
                <th scope="col">Due Date</th>
                <th scope="col">Weight</th>
                <th scope="col">Submission Limit</th>
                <th scope="col">Max Score</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each assignments}}
            <tr>
                <td>{{this.assignmentName}}</td>
                <td>{{this.assignmentDueDate}}</td>
                <td>{{this.assignmentWeight}}</td>
                <td>{{this.submissionLimit}}</td>
                <td>{{this.assignmentMaxScore}}</td>
                <td>
                    <a href="/workspace/{{../sectionID}}/assignments/view/{{this._id}}" class="btn btn-primary">View</a>
                    {{#if (eq ../session_type "Professor")}}
                    <a href="/workspace/{{../sectionID}}/assignments/edit/{{this._id}}" class="btn btn-warning">Edit</a>
                    <a href="/workspace/{{../sectionID}}/assignments/delete/{{this._id}}" class="btn btn-danger">Delete</a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}

        </tbody>

    </table>
    {{#if (eq session_type "Professor")}}
    <a href="create" class="btn btn-primary">Create Assignment</a>
    {{/if}}
</div>