<div class="container-fluid">

    <div class="d-flex fs-2">
        <div class="my-auto"><img class="iconSwitch" src="/icons/score.svg" alt="score Icon">Scores for
            '{{assignment.assignmentName}}'</div>
        <div class="my-auto text-muted fs-5" id="reportCount"></div>
        <div class="form-floating ms-auto fs-6">
            <input class="form-control blockdisplay" type="text" placeholder="" id="searchInput" />
            <label for="searchInput"><img class="iconSwitch" src="/icons/search.svg" alt="search icon">
                Search</label>
        </div>
    </div>


    {{#each students}}
    <div class="searchData my-5 glassEffect p-4">
        <h3>Student: {{name}}</h3>

        <p>Current Recorded Score: {{this.score}}</p>

        <div class="my-5">
            {{#each submissions}}
            <div class="my-2">
                <p>File Name: {{this.file}}</p>
                <p>Submission Date : {{this.submissionDate}}</p>
                <a class="btn btn-warning"
                    href="/download/assignments/{{../../assignment._id}}/submissions/{{_id}}">Download Submission</a>
            </div>
            {{/each}}
        </div>

        {{#if (eq ../session_type "Professor")}}
        <form action="/sections/{{../sectionID}}/assignments/view/{{../assignment._id}}/scores" method="post">
            <input type="hidden" name="studentId" value="{{this._id}}">
            <div class="form-floating my-3 col-md-4">
                <input id="score-{{this._id}}" class="form-control" type="text" name="score" value="" placeholder="">
                <label for="score-{{this._id}}">Score:</label>
            </div>


            <button class="btn btn-info" type="submit">Submit Score</button>
        </form>
        {{/if}}
    </div>

    {{/each}}
</div>