<div class="container mt-5">
    <div class="d-flex fs-2">
        <div class="my-auto"><img class="iconSwitch" src="/icons/info.svg" alt="create Icon">Assignment Details</div>
    </div>
    <div class="table-responsive glassEffect">
        <table class="table table-striped mb-0">
            <tbody>
                <tr>
                    <th scope="row">Assignment Name</th>
                    <td>{{assignment.assignmentName}}</td>
                </tr>
                <tr>
                    <th scope="row">Assignment Description</th>
                    <td>{{assignment.assignmentDescription}}</td>
                </tr>
                <tr>
                    <th scope="row">Due Date</th>
                    <td>{{assignment.assignmentDueDate}}</td>
                </tr>
                <tr>
                    <th scope="row">Assignment Weight</th>
                    <td>{{assignment.assignmentWeight}}</td>
                </tr>
                <tr>
                    <th scope="row">Submission Limit</th>
                    <td>{{assignment.submissionLimit}}</td>
                </tr>
                <tr>
                    <th scope="row">Max Score</th>
                    <td>{{assignment.assignmentMaxScore}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    {{#if (gtD assignment.assignmentDueDate currentDate)}}
    {{#if (eq session_type "Professor")}}
    {{else}}
    <a href="submit/" class="btn btn-info my-4">Submit Assignment</a>
    {{/if}}
    {{/if}}

    <a href="scores/" class="btn btn-info my-4">Grade</a>


</div>