<table class="table">
    <thead>
        <tr>
            <th scope="col">Student Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Letter Grade</th>
            <th scope="col">Finalize</th>
        </tr>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td><a href="{{this._id}}">{{this.firstname}} {{this.lastname}}</a></td>
            <td>{{this.grade}}</td>
            <td>{{this.lettergrade}}</td>
            <td>{{this.scores}}</td>
            <td><a class="btn btn-primary">Finalize Grade</td>
        </tr>
        {{/each}}

    </tbody>

</table>